<script>
    const bookID = location.pathname.split('/').pop();
    const socket = io.connect('/', { query: `bookID=${bookID}` });

    const boxList = document.querySelector('#list');
    const inputUsername = document.querySelector('#username');
    const inputText = document.querySelector('#text');  
    const sendMsg = document.querySelector('#send');

    const getTmp = (msg) => {
        return `
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <small>${msg.username}</small>                
            </div>
            <p class="mb-1">${msg.text}</p>
        </div>
`;
    };

    
    socket.on('message', (msg) => {
        const div = getTmp(msg)
        boxList.insertAdjacentHTML('beforeend', div)
    });

    sendMsg.addEventListener('click', () => {
        socket.emit('message', {
            username: inputUsername.value,
            text: inputText.value,
        })
    })


</script>